{extend name='temp/base' /} {block name='title'}首页{/block} {block name='headcss'}
<style>
	.list_box {
		background: #fff;
		margin-top: 12px;
	}
	
	.list {
		position: relative;
		border-bottom: 1px solid #DCDCDC;
		line-height: 45px;
		min-height: 45px;
		color: #333333;
	}
	
	.posi_left {
		position: absolute;
		left: 12px;
	}
	
	.pos_center {
		padding-left: 100px;
		display: inline-block;
	}
	
	input {
		width: 200px;
		line-height: 36px;
		border: none;
		outline: none;
	}
</style>
{/block} {block name='content'}
<div class="head-title">
	<div onclick="goback()" class="goback">

	</div>
	修改密码
	<div class="title_position_right" onclick="" >
		提交
	</div>
</div>
<div class="list_box">

	<div class="list">
		<div style="padding-left: 2em;" class="posi_left">
			原密码:
		</div>
		<div class="pos_center">
			<input type="text" />
		</div>
	</div>

	<div class="list">
		<div style="padding-left: 2em;" class="posi_left">
			新密码:
		</div>
		<div class="pos_center">
			<input type="text" />
		</div>
	</div>
	<div class="list">
		<div class="posi_left">
			确认新密码:
		</div>
		<div class="pos_center">
			<input type="text" />
		</div>
	</div>
</div>

{/block} {block name="footerjs"}

<script type="text/javascript">
	var tj=document.getElementsByClassName('title_position_right')[0];
	tj.onclick=function(){
		alert(1);
//		var input=document.getElementsByClassName('text');
		
		
	}
	
	
</script>
{/block}