.footer-table{
	background: #F8F8F8;
}
.footer-cloum{
	float: left;
	width: 20%;
	padding-top: 10px;
}
.footer-box{
	position: fixed;
	max-width: 640px;
	width: 100%;
	text-align: center;
	bottom: 0;
	background-color: rgba(255, 255, 255, 1);
	border-top:1px solid #DDDDDD;
}
.footer-cloum p{
	padding-top: 5px;
	padding-bottom: 8px;
	color: #8B8B8B;
}


.footer-icon{
	font-size: 24px !important;
	color: #BABABA !important;
}

.active .footer-icon, .active p{
	color: #03A9F4 !important;
}
