body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
figcaption,
figure,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body,
button,
input,
select,
textarea {
	font: 14px/1 Lucida Grande, 'Microsoft YaHei', "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif
}

h1 {
	font-size: 18px;
	font-weight: normal
}

h2 {
	font-size: 16px;
	font-weight: normal
}

h3 {
	font-size: 14px;
	font-weight: normal
}

h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal
}

address,
cite,
dfn,
em,
var {
	font-style: normal
}

code,
kbd,
pre,
samp,
tt {
	font-family: "Courier New", Courier, monospace
}

small {
	font-size: 12px
}

ul,
ol,
li {
	list-style: none
}

a {
	text-decoration: none;
	color: #333;
	display:block;
}

abbr[title],
acronym[title] {
	border-bottom: 1px dotted;
	cursor: help
}

q:before,
q:after {
	content: ''
}

legend {
	color: #000
}

fieldset,
img {
	border: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	border: 0;
	height: 1px
}

* {
	-ms-word-break: break-all;
	word-break: break-all;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html,
body {
	font-family: '微软雅黑';
	background: #F3F3F3;
	font-size: 16px !important;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border: 1px solid #CCC!important;
}

input,
input[type="submit"],
input[type="reset"],
input[type="button"],
button,select {
	
	font-size: 16px;
}


/*浮动*/

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden
}

.clearfix {
	zoom: 1;
}
.box{
  min-height: 100%;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding-top: 42px;
}

input::-webkit-input-placeholder{
	font-size: 16px;
}
/*加载*/
.loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}

.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.loader:before {
  animation: before 2s infinite;
}
.loader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}
/*加载结束*/

.empty-list-item{
    width: 50%;
    margin: 40px auto;
    text-align: center;
    border: 1px solid #ddd;
    height: 45px;
    line-height: 45px;
    border-radius: 8px;
}
['v-cloak']{
	display: none;
}
.none{
	display: none;
}
.head-title{
	background: #03A9F4;
	line-height: 42px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 640px;
	z-index: 10000;
}

.text_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.goback{
	position: absolute;
	width: 12px;
	height: 12px;
	border-bottom: 1px solid #CAEDFD;
	border-left: 1px solid #CAEDFD;
	left: 18px;
	top: 50%;
	transform: rotate(45deg) translateY(-50%);
}
.title_position_right{
	position: absolute;
	right: 18px;
	font-size: 14px;
	top: 0;
}

::-webkit-scrollbar              { width: 0; height: 0; background: transparent;}
::-webkit-scrollbar-button       { width: 0; height: 0; background: transparent; }
::-webkit-scrollbar-track    {width: 0; height: 0; background: transparent;}
