.seach-box{
		padding: 10px;
		border-bottom: 1px solid #DDDDDD;
		background: #fff;
	}
	.input-box{
		background: #EAEAEA;
		border: 1px solid #DCDCDC;
		border-radius: 32px;
		padding-left: 18px;
		position: relative;
		padding-right: 48px;
	}
	.input-box input{
		border: none;
		outline: none;
		width: 100%;
		height: 32px;	
		background-color: transparent;
		color: #AAAAAA;
		font-size: 16px;
	}	
	.input-box input::-webkit-input-placeholder{
		color: #AAAAAA;
		font-size: 16px;
	}
	.seach-icon{
		color: #fff;
		font-size: 20px;
	}
	.seach-btn{
		position: absolute;
		right: 0;
		top: 0;
		height: 34px;
		transform: translateY(-1px);
		-webkit-transform: translateY(-1px);
		width: 48px;
		border-radius: 0 34px 34px 0;
		background: #03A9F4;
		text-align: center;
		line-height: 34px;
	}
