{extend name="$_admin_base_layout" /}

{block name="content"}
    {$extra_html_content_top|default=''}
    <div class="row">
        <div class="col-md-12">
            <div class="block">

                <div class="block-header bg-gray-lighter">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                        </li>
                    </ul>

                    <h3 class="block-title"><button class="btn btn-info" type="button" onclick="javascript:history.back(-1);return false;">
                    返回                                     
                 </button>&nbsp;&nbsp;&nbsp;{$flow_title}——申请 </h3>
                </div>
                <div class="tab-content panel-primary" style="border-style:solid;border-width:2px;">

                    <div class="tab-pane active">
                        <div class="block-content">
                            {$extra_html_form_top|default=''}
                            <form class="form-builder row" name="form-builder" action="{$post_url|default=''}" method="{$_method}" id="ban">
                                {empty name="form_items"}
                                    {notempty name="empty_tips"}
                                    <div class="form-empty">
                                        <p class="text-center text-muted empty-info">
                                            <i class="fa fa-database"></i> {$empty_tips}<br>
                                        </p>
                                    </div>
                                    {/notempty}
                                {else /}
                                    {volist name="form_items" id="form"}
                                        {switch name="form.type"}
                                            {case value="archive"}
                                                {// 档案文件 }
                                                {include file="../application/common/builder/form/items/archive.html" type='' /}
                                            {/case}

                                            {case value="archives"}
                                                {// 多个档案文件 }
                                                {include file="../application/common/builder/form/items/archives.html" type='' /}
                                            {/case}

                                            {case value="bmap"}
                                                {// 百度地图 }
                                                {include file="../application/common/builder/form/items/bmap.html" type='' /}
                                            {/case}

                                            {case value="button"}
                                                {// 按钮 }
                                                {include file="../application/common/builder/form/items/button.html" type='' /}
                                            {/case}

                                            {case value="checkbox"}
                                                {// 多选 }
                                                {include file="../application/common/builder/form/items/checkbox.html" type='' /}
                                            {/case}

                                            {case value="ckeditor"}
                                                {// ckeditor编辑器 }
                                                {include file="../application/common/builder/form/items/ckeditor.html" type='' /}
                                            {/case}

                                            {case value="colorpicker"}
                                                {// 取色器 }
                                                {include file="../application/common/builder/form/items/colorpicker.html" type='' /}
                                            {/case}

                                            {case value="date"}
                                                {// 日期 }
                                                {include file="../application/common/builder/form/items/date.html" type='' /}
                                            {/case}

                                            {case value="daterange"}
                                                {// 日期范围 }
                                                {include file="../application/common/builder/form/items/daterange.html" type='' /}
                                            {/case}

                                            {case value="datetime"}
                                                {// 日期时间 }
                                                {include file="../application/common/builder/form/items/datetime.html" type='' /}
                                            {/case}

                                            {case value="editormd"}
                                                {// markdown编辑器 }
                                                {include file="../application/common/builder/form/items/editormd.html" type='' /}
                                            {/case}

                                            {case value="file"}
                                                {// 单文件上传 }
                                                {include file="../application/common/builder/form/items/file.html" type='' /}
                                            {/case}

                                            {case value="files"}
                                                {// 多文件上传 }
                                                {include file="../application/common/builder/form/items/files.html" type='' /}
                                            {/case}

                                            {case value="gallery"}
                                                {// 图片相册 }
                                                {include file="../application/common/builder/form/items/gallery.html" type='' /}
                                            {/case}

                                            {case value="group"}
                                                {// 分组 }
                                                {include file="../application/common/builder/form/items/group.html" type='' /}
                                            {/case}

                                            {case value="hidden"}
                                                {// 隐藏 }
                                                {include file="../application/common/builder/form/items/hidden.html" type='' /}
                                            {/case}

                                            {case value="icon"}
                                                {// 图标选择器 }
                                                {include file="../application/common/builder/form/items/icon.html" type='' /}
                                            {/case}

                                            {case value="image"}
                                                {// 单图片上传 }
                                                {include file="../application/common/builder/form/items/image.html" type='' /}
                                            {/case}

                                            {case value="images"}
                                                {// 多图片上传 }
                                                {include file="../application/common/builder/form/items/images.html" type='' /}
                                            {/case}

                                            {case value="jcrop"}
                                                {// 图片裁剪 }
                                                {include file="../application/common/builder/form/items/jcrop.html" type='' /}
                                            {/case}

                                            {case value="linkage"}
                                                {// 联动下拉框 }
                                                {include file="../application/common/builder/form/items/linkage.html" type='' /}
                                            {/case}

                                            {case value="linkages"}
                                                {// 多级联动下拉框 }
                                                {include file="../application/common/builder/form/items/linkages.html" type='' /}
                                            {/case}

                                            {case value="masked"}
                                                {// 格式文本 }
                                                {include file="../application/common/builder/form/items/masked.html" type='' /}
                                            {/case}

                                            {case value="number"}
                                                {// 数字 }
                                                {include file="../application/common/builder/form/items/number.html" type='' /}
                                            {/case}

                                            {case value="password"}
                                                {// 密码 }
                                                {include file="../application/common/builder/form/items/password.html" type='' /}
                                            {/case}

                                            {case value="radio"}
                                                {// 单选 }
                                                {include file="../application/common/builder/form/items/radio.html" type='' /}
                                            {/case}

                                            {case value="range"}
                                                {// 范围 }
                                                {include file="../application/common/builder/form/items/range.html" type='' /}
                                            {/case}

                                            {case value="select"}
                                                {// 下拉菜单 }
                                                {include file="../application/common/builder/form/items/select.html" type='' /}
                                            {/case}

                                            {case value="select2"}
                                                {// 下拉多选 }
                                                {include file="../application/common/builder/form/items/select2.html" type='' /}
                                            {/case}

                                            {case value="sort"}
                                                {// 排序 }
                                                {include file="../application/common/builder/form/items/sort.html" type='' /}
                                            {/case}

                                            {case value="static"}
                                                {// 静态文本 }
                                                {include file="../application/common/builder/form/items/static.html" type='' /}
                                            {/case}

                                            {case value="summernote"}
                                                {// summernote编辑器 }
                                                {include file="../application/common/builder/form/items/summernote.html" type='' /}
                                            {/case}

                                            {case value="switch"}
                                                {// 开关 }
                                                {include file="../application/common/builder/form/items/switch.html" type='' /}
                                            {/case}

                                            {case value="tags"}
                                                {// 标签 }
                                                {include file="../application/common/builder/form/items/tags.html" type='' /}
                                            {/case}

                                            {case value="text"}
                                                {// 单行文本 }
                                                {include file="../application/common/builder/form/items/text.html" type='' /}
                                            {/case}

                                            {case value="time"}
                                                {// 时间 }
                                                {include file="../application/common/builder/form/items/time.html" type='' /}
                                            {/case}

                                            {case value="textarea|array"}
                                                {// 文本框|数组 }
                                                {include file="../application/common/builder/form/items/textarea.html" type='' /}
                                            {/case}

                                            {case value="ueditor"}
                                                {// 百度编辑器 }
                                                {include file="../application/common/builder/form/items/ueditor.html" type='' /}
                                            {/case}

                                            {case value="wangeditor"}
                                                {// wang编辑器 }
                                                {include file="../application/common/builder/form/items/wangeditor.html" type='' /}
                                            {/case}
                                            {default/}
                                            {:extend_form_item($form, $_layout)}
                                        {/switch}
                                    {/volist}
                                {/empty}
                                <div class="form-group col-md-12 col-xs-12">
                                    <div class="col-xs-12">
                                        {php}if(isset($btn_hide) && !in_array('submit', $btn_hide)):{/php}
                                        <button class="btn btn-minw btn-primary {$submit_confirm ?= 'confirm '}{$ajax_submit ?= 'ajax-post'}" target-form="form-builder" type="submit">
                                            {$btn_title['submit']|default='提交'}
                                        </button>
                                        {php}endif;{/php}

                                        {empty name="_pop"}
                                        {php}if(isset($btn_hide) && !in_array('back', $btn_hide)):{/php}
                                        <button class="btn btn-default" type="button" onclick="javascript:history.back(-1);return false;">
                                            {$btn_title['back']|default='返回'}
                                        </button>
                                        {php}endif;{/php}
                                        {else/}
                                        <button class="btn btn-default" type="button" id="close-pop">关闭</button>
                                        {/empty}

                                        {// 额外按钮}
                                        {$btn_extra|default=''}
                                    </div>
                                </div>
                            </form>
                            {$extra_html_form_bottom|default=''}
                        </div>
                    </div>
                </div>
                <div class="block-header bg-gray-lighter">
                    <h3 class="block-title">审批情况</h3>
                </div>
                <div class="table-responsive block">
                    <table class="table table-builder panel-primary table-hover table-bordered table-striped js-table-checkable" style="width:70%;margin-bottom:0px;border-style:solid;border-width:2px;">
                        <thead>
                            <tr>
                                    <td >审批人</td>
                                    <td >部门职位</td>
                                    <td >审批时间</td>
                                    <td >结果</td>
                                    <td >意见</td>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="$worklog_list" id="vo"}
                            <tr>
                                <td>
                                    {$vo.user_name}
                                </td>
                                 <td>
                                    {$vo.o_position}
                                </td>
                                 <td>
                                    {:date('Y-m-d H:i',$vo['update_time'])}
                                </td>
                                 <td>
                                    {switch name="$vo.result" }
                                        {case value="0"}<label class="label label-warning">进行中</label>{/case}
                                        {case value="1"}<label class="label label-success">同意</label>{/case}
                                        {default /}<label class="label label-danger">否决</label>
                                    {/switch}
                                </td>
                                <td>
                                    {eq name="$vo.result" value="0"}
                                        未审核
                                    {else}
                                        {$vo.comment}
                                    {/eq}
                                </td>
                               
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>



                <button class="btn btn-info" type="button" onclick="javascript:history.back(-1);return false;">
                    返回                                       
                 </button>
                            
                
            </div>
        </div>
    </div>

    {$extra_html_content_bottom|default=''}
{/block}

{block name="style"}
    {notempty name="_editormd"}
    <link href="__LIBS__/editormd/css/editormd.min.css" rel="stylesheet" type="text/css" />
    {/notempty}

    {volist name="css_list" id="vo"}
    <link rel="stylesheet" href="__MODULE_CSS__/{$vo}.css">
    {/volist}

    {volist name="extend_css_list" id="vo"}
        {volist name="vo" id="v"}
        <link rel="stylesheet" href="{$v}">
        {/volist}
    {/volist}

    {// 额外CSS代码 }
    {$extra_css|default=''}
{/block}

{block name="script"}
    {notempty name="_ueditor"}
    <script src="__LIBS__/ueditor/ueditor.config.js"></script>
    <script src="__LIBS__/ueditor/ueditor.all.min.js"></script>
    <script src="__ADMIN__/js/core/jquery.min.js"></script>
    {/notempty}

    {notempty name="_ckeditor"}
    <script src="__LIBS__/ckeditor/ckeditor.js"></script>
    {/notempty}

    {volist name="js_list" id="vo"}
    <script src="__MODULE_JS__/{$vo}.js"></script>
    {/volist}

    {volist name="extend_js_list" id="vo"}
        {volist name="vo" id="v"}
        <script src="{$v}"></script>
        {/volist}
    {/volist}

    {// 额外JS代码 }
    {$extra_js|default=''}
    <script type="text/javascript">
        $(function(){
          $("#ban *").attr("disabled", "disabled");
        })

    </script>
{/block}